.topBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;

}

.nameSection{
  display: inline;
  margin: auto 0;
  font-weight: 700;
}

.linkSection{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  gap: 5px;
}

.linkItem1, .linkItem2, .linkItem3{
  text-decoration: none;
  margin-left: 5px;
}

.linkItem1{
  color: var(--secondary-color);
}

.linkItem2{
  color: var(--tertiery-color);
}

.linkItem3{
  color: var(--quaternary-color);
}