.mainContainer{
  margin: 1vh 1vw;
  padding: 1vw 2vw;
  background-color: #302f2f;
}

.mainContainer:hover, .mainContainer:focus{
  animation-name: growSection;
  animation-delay: 2s;
}

@keyframes growSection {
  from {
    transform: scale(0.1)
  }
  to {
    transform: scale(1.1);
  }
}
